<div class="container">
  <div class="hero-unit">
    <div align="middle">
      <p><< Image Here >></p>
      <h1>TuffCookies</h1><br>
      	<p>A simple guessing game of hi/lo.<br></p>
    </div>
  </div>
  
  <% if @current_user != nil%>
    <%route = user_path(@current_user.id)  %>
  <%else%>
    <%route = new_user_session_path%>
  <%end%>


  <div class="row">
    <div class="span3">
      <h4 align="center"><a href=<%=new_game_path%>>Play</a></h4>
    </div>
    <div class="span3">
      <h4 align="center"><a href=<%=route%>>My Record</a></h4>
    </div>
    <div class="span3">
      <h4 align="center"><a href=""> *Rules</a></h4>
   </div>
    <div class="span3">
      <h4 align="center"><a href="">*About</a></h4>
    </div>  
  </div>
	<hr />

	<div class="footer">
  	<p><i>  &copy; 2013 SGC Endeavors, Inc.  All rights reserved. A Ruby-on-Rails / Twitter-Bootstrap Design. <br></p>
	</div><br>

</div>